{% extends "base.html" %}
{% block content %}

<h2>Pełne słownictwo - język angielski</h2>

{% for letter, words in grouped.items() %}
<h3>{{ letter }}</h3>

<div class="cards">
    {% for v in words %}
    <div class="card vocab-tile">

        <h3>{{ v.word_en }}</h3>
        <p class="vocab-translation">{{ v.word_pl }}</p>

        {% if v.image_url %}
        <img src="{{ v.image_url }}" class="vocab-image">
        {% endif %}

        {% if v.audio_url %}
        <audio controls src="{{ v.audio_url }}" class="vocab-audio"></audio>
        {% endif %}

        {% if v.category %}
        <div class="badge">🧠 {{ v.category }}</div>
        {% endif %}

    </div>
    {% endfor %}
</div>

{% endfor %}

{% endblock %}